@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background);
  color: var(--font-color);
}

:root {
  --primary: #132631;
  --secundary: #132631;
  --background: #f0f0f0;
  --card-background: #f6f6f6;
  --btn: #117f92;
  --btn-dark: black;
  --font-color: #262729;
  --font-color-secundary: #eee;
}
